@include media-breakpoint-down(lg) {
  .mod-sub-content {
    max-width: 100%;
    background-color: $white;
    position: relative;
    border-radius:5px;
    text-align: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    box-shadow:0px 5px 0px 0px #51c03d;
    .sub-img {
      .child-1 {
        padding-top: 50px;
        background-image: url("../images/img_sub1.png");
        @include background-size(inherit);
        transition: ease-in 2s;

      }
      
      .child-2 {
        padding-top: 50px;
        background-image: url("../images/img_sub10.png");
        @include background-size(inherit);

      }
      .child-3 {
        padding-top: 50px;
        background-image: url("../images/img_sub2.png");
        @include background-size(inherit)

      }
      .child-4 {
        padding-top: 50px;
        background-image: url("../images/img_sub3.png");
        @include background-size(inherit)

      }

      .child-5 {
        padding-top: 50px;
        background-image: url("../images/img_sub4.png");
        @include background-size(inherit)

      }
      .child-6 {
        padding-top: 50px;
        background-image: url("../images/img_sub5.png");
        @include background-size(inherit)

      }
      .child-7 {
        padding-top: 50px;
        background-image: url("../images/img_sub6.png");
        @include background-size(inherit)

      }
      .child-8 {
        padding-top: 50px;
        background-image: url("../images/img_sub7.png");
        @include background-size(inherit)

      }
      .child-9 {
        padding-top: 50px;
        background-image: url("../images/img_sub8.png");
        @include background-size(inherit)

      }
      .child-10 {
        padding-top: 50px;
        background-image: url("../images/img_sub9.png");
        @include background-size(inherit)

      }
    }
  }
}
