<footer id="footer" class="module footer bg-black">
  <div class="container footer-top">
    <div class="row">
      <!-- {% for i in [1, 2, 3] %}
      <div class="footer-item-col col-lg-3 col-6">
        <h5>
          <a href="#">About Us</a>
        </h5>
        <ul class="list-unstyled footer-menu">
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
        </ul>
      </div>
      {%endfor%} -->
      <!-- <div class="footer-item-col col-lg-3 col-6">
        <h5>
          <a href="#">Contact </a>
        </h5>
        <address>
          <a href="mailto:mailname@gmail.com">mailname@gmail.com</a>
          <br />
          US Office
          <a href="tel:+12819944600">+352 269 763 07</a>
        </address>
        <address>
          <a href="mailto:mailname@gmail.com">mailname@gmail.com</a>
          <br />
          US Office
          <a href="tel:+12819944600">+352 269 763 07</a>
        </address>
        <div class="social">
          {% include "modules/global/social.html" %}
        </div>
      </div> -->
    </div>
  </div>
  <div class="container text-center last-mb-none">
    <p class="footer-copyright">
      Copyright © 2018-2019 9thWonder
    </p>
  </div>
</footer>
