@include media-breakpoint-up(lg) {
  .mod-content {
    text-align: center;
    min-height: 570px;
    background-color:rgb(236, 236, 236);
    .content-title {
      padding-top: 200px;
      h2 {
        @include font($sm,26.5px,$black,300);

      }
      h3 {
        margin-top: -15px;
        @include font($sm,22.5px,$black,300);

      }

    }
    .content-contact {
      padding: 31px 117px 0 83px;
      margin-left: 82px;
      span {
        @include font($sm,20.5px,$black,300);
      }
    }
}
}

