@include media-breakpoint-up(lg) {
  .mod-content {
    text-align: center;
    min-height: 570px;
    background-color:rgb(236, 236, 236);
    .content-title {
      padding-top: 200px;
    }
    .content-contact {
      margin: 105px;
    }
}
}

